{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div class="row my-4">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Todo Lists</h1>
        </div>
    </div>

    <div class="card">    
        <div class="card-header">
            <h1 class="card-title">Create Todo</h1>
        </div>
        <div class="card-body">
            {% if error %}
                <div class="notification alert alert-error" role="alert">
                    {{ error['messageData'] }}
                </div>
            {% endif %}

            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
{% endblock %}
